.container {
    position: fixed;
    &.freeScroll {
        position: inherit;
    }
}
.month {
    &.freeScroll {
        position: inherit;
    }
    position: fixed;
    display: flex;
    padding: 5.5rem 5rem 5rem 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 3;
}
#title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
