.year {
    z-index: -1;
    top: 10vh;
    right: 2rem;
    position: fixed;
    height: 80vh;
    width: 1rem;
    border: 2px black solid;
    border-radius: 1rem;
    outline: 5px white solid;
    background-color: white;
    .text {
        position: absolute;
        width: fit-content;
        transform: rotate(0.25turn);
        left: -3.5rem;
        top: 2.5rem;
        white-space: nowrap;
        font-weight: 700;
    }
    .line {
        width: calc(100% + 1rem);
        z-index: 1;
        position: absolute;
        transition: top 2s ease-in-out;

        top: 0;
        left: calc(-0.5rem + 0px);
        border-bottom: 2px red solid;
    }
    .progress {
        width: 100%;
        background-color: black;
        height: 0%;
        transition: height 2s ease-in-out;
    }
}
